﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Libros.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BibliotecaWebIces.Default.LibrosGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>