﻿@import "site.mixins.less";


.s-Default-LibrosDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-AutoresDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-CarrerasDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-EditorialesDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-IdiomasDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Default-TiposDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}