﻿@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Idiomas.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new BibliotecaWebIces.Default.IdiomasGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>